body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
}

/***** calendar section *****/
.Calendar {
  width: 98vw;
}
.Calendar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.CalendarWeek li,
.CalendarBody > li {
  border-radius: 3px;
  box-sizing: border-box;
  float: left;
  margin: 5px 2px;
  position: relative;
  text-align: center;
  width: calc(14.25% - 4px);
}
.CalendarHeader {
  background-color: #300;
  box-shadow: 0 3px 6px -3px #333;
  color: #ccc;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
}
.CalendarHeading {
  font-weight: 300;
  margin: 0;
}
/* days-of-week grid */
.CalendarWeek {
  height: 7vh;
  overflow: hidden;
}
.CalendarWeek li {
  background-color: #d7d7d7;
}
/* calendar dates grid */
.CalendarBody {
  height: 80vh;
}
.CalendarDate {
  cursor: pointer;
  font-size: 1.6em;
  height: calc(20vh - 10px);
  overflow: hidden;
}
/* first and second month styles */
.first-month {
  box-shadow: 0 3px 6px -3px #633;
}
.first-month .CalendarDateNumber {
  color: #633;
}
.first-month .CalendarMobileEntry {
  background-color: #633;
}
.second-month {
  box-shadow: 0 3px 6px -3px #000;
}
.second-month .CalendarDateNumber {
  color: #333;
}
.second-month .CalendarMobileEntry {
  background-color: #333;
}
/* calendar date schedule */
.CalendarDateSchedule {
  text-align: left;
}
.CalendarDateSchedule li {
  color: #666;
  font-size: 0.6em;
  padding: 5px 10px;
}

/***** sidebar section *****/
.Sidebar {
  background-color: #ccc;
  border-left: solid 1px #999;
  box-shadow: 3px 3px 10px 3px #333;
  cursor: pointer;
  height: 100vh;
  transition: 0.25s;
  width: 2vw;
  right: 0;
  position: absolute;
}
.Sidebar h2,
.Sidebar ul {
  color: #ccc;
  display: none;
}
.Sidebar.open {
  transition: 0.25s;
  width: 50vw;
}
.Sidebar.open h2,
.Sidebar.open ul {
  color: #000;
  display: block;
}
.Sidebar h2 {
  text-align: center;
}
.Sidebar li {
  margin-bottom: 1em;
}

/***** responsive styles *****/
@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .CalendarWeek li {
    height: calc(5.5vh - 10px);
    line-height: calc(5.5vh - 10px);
    margin-top: calc(5px + 0.5vh);
    margin-bottom: calc(5px + 0.5vh);
  }
  .CalendarDateNumber {
    position: relative;
    top: 30%;
  }
  .CalendarMobileEntry {
    border-radius: 10px;
    height: 12px;
    left: calc(50% - 6px);
    margin: 0 auto;
    position: absolute;
    top: 60%;
    width: 12px;
  }
}
@media screen and (min-width: 768px) {
  .CalendarHeading {
    font-size: 50px;
  }
  .CalendarWeek li {
    font-size: 1.2em;
    height: calc(4.5vh - 10px);
    line-height: calc(4.5vh - 10px);
    margin-top: calc(5px + 1vh);
  }
}
@media screen and (min-width: 1200px) {
  .Calendar {
    width: 80vw;
  }
  .Sidebar,
  .Sidebar.open {
    width: 20vw;
  }
}
